* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f3f3;
    color: #f7c0c0;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fb899e;
    color: rgb(254, 251, 251);
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: rgb(248, 246, 246);
    text-decoration: none;
    font-weight: bold;
}

/* SECTIONS */
.section {
    padding: 70px 40px;
    text-align: center;
}

.home {
    background: url("https://via.placeholder.com/1000x400") center/cover no-repeat;
    color:  #f7c0c0;
    padding: 120px 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ff9aac;
    color: #faf8f8;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* MENU */
.menu-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #faf8f8;
    border-radius: 8px;
    padding: 15px;
    width: 220px;
    text-align: center;
    box-shadow: 0 2px 10px #faf8f8(178, 94, 94, 0.1);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.card img {
    transition: transfrom 0.2s ease;
    cursor: pointer;
}

.card img:active {
    transform: scale(1.07);
}

/* REVIEW */
#review{
    margin-top: -60px;
}
.review-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-box {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #f7c0c0
}

/* FORM */
form {
    width: 350px;
    margin: auto;
    text-align: left;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.footer {
    background-color:#ff9aac;;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}
